---
const sections = await Astro.glob('../pages/sections/*.md')
---
<style>
    .navbar .logo-image img {
        width: auto;
        height: 64px;
    }
    .gs_reveal {
        opacity: 0;
        visibility: hidden;
        will-change: transform, opacity;
    }
</style>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="canonical" href="https://ibifloripa.vercel.app/">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Igreja Batista Independente Floripa">
    <meta name="author" content="Igreja Batista Independente Floripa">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="Igreja Batista Independente de Floripa"/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="Igreja Batista Independente de Floripa" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>Benvindo a nossa Igreja Batista</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="/yavin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/yavin/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/yavin/css/swiper.css" rel="stylesheet">
    <link href="/yavin/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="yavin/images/favicon.png">
</head>
<body>
    <!-- Navigation -->
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="index.html"><img src="images/logo-ibi-floripa.png" alt="alternative"></a>

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text" href="index.html">Yavin</a> -->

            <!--<button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>-->

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <!--<li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#header">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#details">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Drop</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="article.html">Article Details</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="terms.html">Terms Conditions</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="privacy.html">Privacy Policy</a></li>
                        </ul>
                    </li>-->
                </ul>
                <span class="nav-item">
                   <!-- <a class="btn-outline-sm" href="#contact">Contact us</a>-->
                </span>
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">
        <img class="decoration-star" src="yavin/images/decoration-star.svg" alt="alternative">
        <img class="decoration-star-2" src="yavin/images/decoration-star.svg" alt="alternative">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-5">
                    <div class="text-container">
                        <h1 class="h1-large">Igreja Batista Floripa</h1>
                        <p class="p-large">Jesus, aproximando-se, falou-lhes, dizendo: Toda a autoridade me foi dada no céu e na terra.
                            Ide, portanto, fazei discípulos de todas as nações, batizando-os em nome do Pai, e do Filho, e do Espírito Santo;
                            ensinando-os a guardar todas as coisas que vos tenho ordenado. E eis que estou convosco todos os dias até à consumação do século.</p>
                        <a target="_blank" class="btn btn-outline-primary rounded-pill" style="background-color: #4555d2;color: white;" href="https://www.instagram.com/stories/ibi.florianopolis/">
                            <svg style="width: 32px;height:32px;fill: white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
                            Segue a gente no Instagram</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-5 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid" src="yavin/images/header.png" alt="alternative" style="filter: saturate(54%);">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->

    <!-- Introduction -->
    <div id="introduction" class="section basic-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    <h2>{sections[0].frontmatter.title}</h2>
                    <p>{sections[0].frontmatter.text}</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of introduction -->


    <!-- Details 1 -->
    <div id="details" class="section basic-2">
        <img class="decoration-star" src="yavin/images/decoration-star.svg" alt="alternative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5 gs_reveal gs_reveal_fromLeft">
                    <div class="image-container">
                        <img class="img-fluid" src="yavin/images/details-1.png" alt="alternative" style="-webkit-border-radius: 9px;
                            border-radius: 9px;
                            border-top-right-radius: 100px;
                            box-shadow: -15px 15px 0px 0px rgba(239,242,247,1);
                            ">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xl-7 ">
                    <div class="text-container">
                        <h2 class="gs_reveal">Junte-se a nós na Adoração neste Domingo!</h2>
                        <p  class="gs_reveal">Convidamos você para o nosso culto principal de domingo, um momento especial dedicado à adoração em conjunto, receber ensinamentos bíblicos inspiradores e experimentar a presença de Deus em comunidade. Venha fazer parte dessa experiência transformadora enquanto crescemos juntos em fé e comunhão. Esperamos vê-lo lá!</p>
                        <!--<ul class="list-unstyled li-space-lg">
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">At every tiled on ye defer do. No attention suspected oh difficult. Fond his say</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">Old meet cold find come whom. The sir park sake bred. Wonder matter now</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">Can estate esteem assure fat roused. Am performed on existence as discourse</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">existence as discourse is. Pleasure friendly at marriage blessing or should</div>
                            </li>
                        </ul>-->
                        <a class="btn-solid-reg" target="_blank" href="https://www.youtube.com/@igrejabatistafloripa">
                            
                            Curta no Youtube</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 1 -->


    <!-- Services -->
    <div id="services" class="section cards-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>Serviços</h2>
                        <p>Descubra como você pode participar e servir nos diversos ministérios de nossa igreja local. Desde o ministério de louvor até o de alcance comunitário, há oportunidades para todos. Junte-se a nós enquanto nos esforçamos para levar o amor e a esperança de Jesus para nossa comunidade e além.</p>
                        <!--<ul class="list-unstyled li-space-lg">
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">And informed shy dissuade property. Musical by</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">He drawing savings an. No we stand avoid</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">Announcing of invita mrore wo tion principle</div>
                            </li>
                        </ul>-->
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="card-container">

                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon">
                                <svg class="fas" style="fill: #cc2973" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 64A64 64 0 1 0 128 64a64 64 0 1 0 128 0zM152.9 169.3c-23.7-8.4-44.5-24.3-58.8-45.8L74.6 94.2C64.8 79.5 45 75.6 30.2 85.4s-18.7 29.7-8.9 44.4L40.9 159c18.1 27.1 42.8 48.4 71.1 62.4V480c0 17.7 14.3 32 32 32s32-14.3 32-32V384h32v96c0 17.7 14.3 32 32 32s32-14.3 32-32V221.6c29.1-14.2 54.4-36.2 72.7-64.2l18.2-27.9c9.6-14.8 5.4-34.6-9.4-44.3s-34.6-5.5-44.3 9.4L291 122.4c-21.8 33.4-58.9 53.6-98.8 53.6c-12.6 0-24.9-2-36.6-5.8c-.9-.3-1.8-.7-2.7-.9z"/></svg>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Ministério Infantil</h5>
                            </div>
                        </div>
                        <!-- end of card -->

                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon">
                                <svg class="fas" style="fill: #cc2973" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M112 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm40 304V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V256.9L59.4 304.5c-9.1 15.1-28.8 20-43.9 10.9s-20-28.8-10.9-43.9l58.3-97c17.4-28.9 48.6-46.6 82.3-46.6h29.7c33.7 0 64.9 17.7 82.3 46.6l58.3 97c9.1 15.1 4.2 34.8-10.9 43.9s-34.8 4.2-43.9-10.9L232 256.9V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V352H152z"/></svg>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Homens</h5>
                            </div>
                        </div>
                        <!-- end of card -->

                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon">
                                <svg class="fas" style="fill: #cc2973" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M160 0a48 48 0 1 1 0 96 48 48 0 1 1 0-96zM88 384H70.2c-10.9 0-18.6-10.7-15.2-21.1L93.3 248.1 59.4 304.5c-9.1 15.1-28.8 20-43.9 10.9s-20-28.8-10.9-43.9l53.6-89.2c20.3-33.7 56.7-54.3 96-54.3h11.6c39.3 0 75.7 20.6 96 54.3l53.6 89.2c9.1 15.1 4.2 34.8-10.9 43.9s-34.8 4.2-43.9-10.9l-33.9-56.3L265 362.9c3.5 10.4-4.3 21.1-15.2 21.1H232v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V384H152v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V384z"/></svg>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Mulheres</h5>
                            </div>
                        </div>
                        <!-- end of card -->

                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon">
                                <svg class="fas" style="fill: #cc2973" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M352 64A64 64 0 1 0 224 64a64 64 0 1 0 128 0zM232.7 264l22.9 31.5c6.5 8.9 16.3 14.7 27.2 16.1s21.9-1.7 30.4-8.7l88-72c17.1-14 19.6-39.2 5.6-56.3s-39.2-19.6-56.3-5.6l-55.2 45.2-26.2-36C253.6 156.7 228.6 144 202 144c-30.9 0-59.2 17.1-73.6 44.4L79.8 280.9c-20.2 38.5-9.4 85.9 25.6 111.8L158.6 432H72c-22.1 0-40 17.9-40 40s17.9 40 40 40H280c17.3 0 32.6-11.1 38-27.5s-.3-34.4-14.2-44.7L187.7 354l45-90z"/></svg>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Interceção</h5>
                            </div>
                        </div>
                        <!-- end of card -->

                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon">
                                <svg class="fas" style="fill: #cc2973" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zM208 80c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H272V304c0 8.8-7.2 16-16 16H224c-8.8 0-16-7.2-16-16V192H160c-8.8 0-16-7.2-16-16V144c0-8.8 7.2-16 16-16h48V80z"/></svg>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">PG (pequenhos grupos)</h5>
                            </div>
                        </div>
                        <!-- end of card -->

                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon">
                                <svg class="fas" style="fill: #cc2973"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M465 7c-9.4-9.4-24.6-9.4-33.9 0L383 55c-2.4 2.4-4.3 5.3-5.5 8.5l-15.4 41-77.5 77.6c-45.1-29.4-99.3-30.2-131 1.6c-11 11-18 24.6-21.4 39.6c-3.7 16.6-19.1 30.7-36.1 31.6c-25.6 1.3-49.3 10.7-67.3 28.6C-16 328.4-7.6 409.4 47.5 464.5s136.1 63.5 180.9 18.7c17.9-17.9 27.4-41.7 28.6-67.3c.9-17 15-32.3 31.6-36.1c15-3.4 28.6-10.5 39.6-21.4c31.8-31.8 31-85.9 1.6-131l77.6-77.6 41-15.4c3.2-1.2 6.1-3.1 8.5-5.5l48-48c9.4-9.4 9.4-24.6 0-33.9L465 7zM208 256a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Louvor</h5>
                            </div>
                        </div>
                        <!-- end of card -->



                    </div> <!-- end of container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
    <!-- end of services -->


    <!-- Details 2 -->
    <div class="section basic-3">
        <img class="decoration-star" src="yavin/images/decoration-star.svg" alt="alternative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-7">
                    <div class="text-container">
                        <h2 class="gs_reveal">¡Junte-se ao nosso Pequeno Grupo (PG) e cresça em comunidade!</h2>
                        <p class="gs_reveal">Nossos Pequenos Grupos são lugares onde você pode se conectar com outros crentes e explorar juntos a Palavra de Deus em um ambiente acolhedor e amigável. Não importa em que estágio da sua jornada espiritual você esteja, todos são bem-vindos! Venha experimentar a camaradagem, o apoio mútuo e o crescimento espiritual enquanto nos envolvemos em conversas significativas e estudamos a Bíblia juntos. Esperamos por você de braços abertos!</p>
                        <!--<a class="btn-solid-reg" href="article.html">Get started</a>-->
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xl-5  gs_reveal gs_reveal_fromRight">
                    <div class="image-container">
                        <img class="img-fluid" src="yavin/images/details-2.png" alt="alternative" style="
                            border-radius: 9px;
                            border-top-right-radius: 100px;
                            box-shadow: -15px 15px 0px 0px rgba(239,242,247,1);
                        ">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of details 2 -->


    <!-- Invitation -->
    <div class="section basic-4 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Desejai afetuosamente, como meninos novamente nascidos, o leite racional, não falsificado, para que por ele vades crescendo;</h4>
                    <!--<a class="btn-solid-lg" href="#contact">Get quote</a>-->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of invitation -->


    <!-- Projects -->
    <div id="projects" class="section cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Cultos gravados</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <!--<img class="img-fluid" src="yavin/images/project-1.jpg" alt="alternative">-->
                        <iframe width="350" height="226px" style="margin-bottom: 2rem;border-radius: 10px;" src="https://www.youtube.com/embed/Hp79P6_U2b0?si=2plf9wD88ZZNmgb-" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">Inauguração IBI Florianópolis - 12/03/2023</h5>
                            <!--<p class="card-text">Suffer should if waited common person little ans words are needed oh <a class="blue no-line" href="article.html">...Read more</a></p>-->
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <!--<img class="img-fluid" src="yavin/images/project-2.jpg" alt="alternative">-->
                        <iframe width="350" height="226px" style="margin-bottom: 2rem;border-radius: 10px;" src="https://www.youtube.com/embed/esMfTwxVCd0?si=0wgK7TPmy-xNKkJK" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">Culto de Celebração | Renove seu chamado - Pra. Daniela</h5>
                            <!--<p class="card-text">In to am attended desirous raptures declared diverted confined at collected <a class="blue no-line" href="article.html">...Read more</a></p>-->
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <!--<img class="img-fluid" src="yavin/images/project-2.jpg" alt="alternative">-->
                        <iframe width="350" height="226px" style="margin-bottom: 2rem;border-radius: 10px;" src="https://www.youtube.com/embed/NbmTC_8bKs0?si=da7qw8J4Dl2yrbyj" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">Culto de Celebração | Tenha fé diante das más notícias - Pr. Gerson</h5>
                            <!--<p class="card-text">In to am attended desirous raptures declared diverted confined at collected <a class="blue no-line" href="article.html">...Read more</a></p>-->
                        </div>
                    </div>
                    <!-- end of card -->


                    <!-- Card -->
                    <div class="card">
                        <!--<img class="img-fluid" src="yavin/images/project-2.jpg" alt="alternative">-->
                        <iframe width="350" height="226px" style="margin-bottom: 2rem;border-radius: 10px;" src="https://www.youtube.com/embed/WJFqeZGdnK0?si=utTaejKH25A75FWv" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">Culto de Celebração - Pr. Gerson | Série de mensagens: A igreja e seu ministério.</h5>
                            <!--<p class="card-text">In to am attended desirous raptures declared diverted confined at collected <a class="blue no-line" href="article.html">...Read more</a></p>-->
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <!--<img class="img-fluid" src="yavin/images/project-2.jpg" alt="alternative">-->
                        <iframe width="350" height="226px" style="margin-bottom: 2rem;border-radius: 10px;" src="https://www.youtube.com/embed/UFBqly7ZjlY?si=DM6EgKw5I029sHeC" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">Culto de Celebração - Pr. Gerson | A importância da presença de Deus.</h5>
                            <!--<p class="card-text">In to am attended desirous raptures declared diverted confined at collected <a class="blue no-line" href="article.html">...Read more</a></p>-->
                        </div>
                    </div>
                    <!-- end of card -->


                    <!-- Card -->
                    <div class="card">
                        <!--<img class="img-fluid" src="yavin/images/project-2.jpg" alt="alternative">-->
                        <iframe width="350" height="226px" style="margin-bottom: 2rem;border-radius: 10px;" src="https://www.youtube.com/embed/4Tb58sZIELg?si=jmG6zScmVQQC2fW6" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">Culto de Celebração - Gilmar Anger | Minha vontade é maior que a vontade de Deus?.</h5>
                            <!--<p class="card-text">In to am attended desirous raptures declared diverted confined at collected <a class="blue no-line" href="article.html">...Read more</a></p>-->
                        </div>
                    </div>
                    <!-- end of card -->




                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of projects -->


    <!-- Footer -->

    <div class="section container-fluid footer bg-gray">
        <div class="container">
            <footer class="">
                <div class="row">
                    <div class="col-12 text-center">
                        <h5>Onde estamos?</h5>
                    </div>
                    <div class="col-12 col-md-6 mb-3 d-flex align-items-center">
                        <div class="w-100 text-center">
                            <img class="img-fluid" src="images/igreja.jpeg" style="border-radius: .75rem;" alt="Foto frontal del templo."/>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <div class="w-100">
                            <iframe class="w-100" style="border-radius: .75rem" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.9627592727275!2d-48.41055722443635!3d-27.439271315410558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x952742033bdadac5%3A0x487b1dcef3505053!2sRua%20Intendente%20Jo%C3%A3o%20Nunes%20Vieira%2C%20311%20-%20Ingleses%20do%20Rio%20Vermelho%2C%20Florian%C3%B3polis%20-%20SC%2C%2088058-100!5e0!3m2!1ses-419!2sbr!4v1714329271294!5m2!1ses-419!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>

                </div>

                <div
                        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
                >
                    <div class="col-md-4 d-flex align-items-center">
                        <a
                                href="/"
                                class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
                        >

                        </a>
                        <span class="mb-3 mb-md-0 text-body-secondary"
                        >© 2024 IBI Floripa</span
                        >
                    </div>

                    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                        <li class="ms-3">
                            <a class="text-body-secondary" href="https://www.instagram.com/ibi.florianopolis/"
                            ><svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="40"
                                    height="40"
                                    fill="currentColor"
                                    class="bi bi-instagram"
                                    viewBox="0 0 40 40"
                            >
                                <path
                                        d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
                                /></svg
                            ></a>
                        </li>
                        <li class="ms-3">
                            <a class="text-body-secondary" href="https://www.youtube.com/@igrejabatistafloripa"
                            ><svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="40"
                                    height="40"
                                    fill="currentColor"
                                    class="bi bi-youtube"
                                    viewBox="0 0 40 40"
                            >
                                <path
                                        d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
                                /></svg
                            ></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>

    <!-- end of footer -->

    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn">
        <img src="/yavin/images/up-arrow.png" alt="alternative">
    </button>
    <!-- end of back to top button -->

    <!-- Scripts -->
    <script src="/yavin/js/bootstrap.min.js" is:inline></script> <!-- Bootstrap framework -->
    <script src="/yavin/js/swiper.min.js" is:inline></script> <!-- Swiper for image and text sliders -->
    <script src="/yavin/js/purecounter.min.js" is:inline></script> <!-- Purecounter counter for statistics numbers -->
    <script src="/yavin/js/scripts.js" is:inline></script> <!-- Custom scripts -->

    <script src="/src/app.ts"></script>
</body>
</html>
